.topnav {
  background-color: #e68200;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  height: 75px;
  padding: 0 1rem;
}

body {
  margin: 0 auto;
  background-image: url("res/kebab-lokal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.topnav a {
  display: flex;
  align-items: center;
  color: black;
  padding: 0 1rem;
  text-decoration: none;
  font-size: 1.4rem;
}

.topnav a:hover {
  background-color: rgb(224, 217, 217);
  color: black;
}

#logo {
  font-family: 'Brush Script MT', cursive;
  padding: 0 1rem;
  font-size: 2.3rem;
  margin-right: 2.4vw;
}

.topnav-left {
  height: 100%;
  display: flex;
}

.topnav-right {
  height: 100%;
  display: flex;
}

#logoutButton {
  display: none;
}

#profileButton {
  display: none;
}



.section {
  display: flex;
  justify-content: left;
  width: 100%;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;

  max-width: 40vh;

  background-color: rgba(255, 255, 255, 0.822);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 4vh 2vw;

  word-wrap: break-word;
  overflow-y: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 8px dotted grey;
  padding: 2vh;
}

#last-element {
  border-bottom: none;
}


.header {
  font-size: 3rem;
  margin-bottom: 0;
  font-family: 'Brush Script MT', cursive;
}


p {
  text-align: justify;
  font-size: 1.2rem;
  max-width: 100%;
  line-height: 1.5;
  margin-top: 0;
  font-family: Georgia, serif;
  padding: 0;
}



@media (max-width: 980px) {
  .section {
    justify-content: center;
    align-items: center;
  }

  .header {
    font-size: 4.5rem;
  }

  p {
    font-size: 1.3rem;
  }
}